/* BACKGROUNDS */
.bg-banner {
  background-image: url(../../src/images/backgrounds/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.bg-dark {
  background-color: #1c2124;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #fafafa;
}

.bg-black {
  background-color: #1b1b1b;
}

/* COLORS */
.color-black {
  color: #1b1b1b;
}
.color-white {
  color: #fff;
}
.color-orange {
  color: #ff4444;
}
